<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Integrador - Inicio</title>
  </head>
  <body>
    <header class="main-header">
      <input type="checkbox" id="menu" />
      <nav class="nav-bar">
        <ul class="nav-bar__nav-list">
          <li class="nav-bar__nav-item">
            <a
              href="../index.html"
              class="nav-bar__nav-link nav-bar__nav-link-transition"
              >Inicio</a
            >
          </li>
          <li class="nav-bar__nav-item">
            <a
              href="./alta.html"
              class="nav-bar__nav-link nav-bar__nav-link-transition"
              >Alta</a
            >
          </li>
          <li class="nav-bar__nav-item">
            <a
              href="./nosotros.html"
              class="nav-bar__nav-link nav-bar__nav-link-transition"
              >Nosotros</a
            >
          </li>
          <li class="nav-bar__nav-item">
            <a
              href="./contacto.html"
              class="nav-bar__nav-link nav-bar__nav-link-transition"
              >Contacto</a
            >
          </li>
        </ul>
      </nav>
      <!-- .nav-bar -->
      <div class="search-bar">
        <div class="search-bar__logo-container">
          <a href="/" class="search-bar__logo-link">
            <img
              src="../public/img/rita.svg"
              alt="logo"
              class="search-bar__logo"
            />
          </a>
        </div>
        <form action="#" class="search-bar__form-container">
          <label for="busqueda" class="search-bar__form-label">Buscar</label>
          <input type="search" class="search-bar__form-search" id="busqueda" />
          <input type="submit" class="search-bar__form-submit" value="" />
        </form>
        <div class="search-bar__carrito-container">
          <img
            src="../public/img/minicart.svg"
            alt="minicart"
            class="search-bar__carrito-image"
          />
        </div>
        <div class="menu-toogle">
          <label for="menu" class="menu-toogle__label">
            <span class="menu-toogle__top-bread"></span>
            <span class="menu-toogle__meat"></span>
            <span class="menu-toogle__bottom-bread"></span>
          </label>
        </div>
      </div>
      </header>
      <!-- .search-bar -->
    <main class="contacto-main">
        <header>
            <h1 class="subrayado">¿NECESITAS AYUDA?</h1>
        </header>
        
        <div class="content-contacto">

            <section class="section-contacto">
            <fieldset>
              <div class="contacto-form">
              <legend>Nombre</legend>
              <input type="text" required class="contacto-form__barra" />
              <legend>Apellido</legend>
              <input type="text" required class="contacto-form__barra"/>
              <legend>Provincia</legend>
               <select name="provincia" id="" class="contacto-form__barra">
                <option disabled selected ></option>
                <option value="Buenos Aires">BUENOS AIRES</option>
                <option value="CABA">CIUDAD AUTONOMA DE Bs As</option>
                <option value="Catamarca">CATAMARCA</option>
                <option value="cordoba">CORDOBA</option>
                <option value="Corrientes">CORRIENTES</option>
                <option value="Chaco">CHACO</option>
                <option value="Chubut">CHUBUT</option>
                <option value="Entre Rios">ENTRE RIOS</option>
                <option value="Formosa">FORMOSA</option>
                <option value="Jujuy">JUJUY</option>
                <option value="La Pampa">LA PAMPA</option>
                <option value="La Rioja">LA RIOJA</option>
                <option value="Mendoza">MENDOZA</option>
                <option value="Misiones">MISIONES</option>
                <option value="Neuquen">NEUQUEN</option>
                <option value="Rio Negro">RIO NEGRO</option>
                <option value="Salta">SALTA</option>
                <option value="San Luis">SAN LUIS</option>
                <option value="Santa Cruz">SANTA CRUZ</option>
                <option value="Santa Fe">SANTA FE</option>
                <option value="Santiago del Estero">SANTIAGO DEL ESTERO</option>
                <option value="Tierra del Fuego">TIERRA DEL FUEGO</option>
                <option value="Tucuman">TUCUMAN</option>
              </select>
              <legend>Numero de telefono</legend>
              <input type="tel" required class="contacto-form__barra"/>
              <legend>Mail</legend>
              <input type="email" required class="contacto-form__barra"/>
              <legend>¿Por qué necesita comunicarse con nosotros?</legend>
              <textarea name="" id="" class="contacto-form__coment"></textarea>
              <div class="button-contacto" >
                <button class="button-contacto__content">ENVIAR</button>
              </div>
            </fieldset>

            </section>

        <section class="section-mapa">
            <div class="card-mapa">
                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13993.672484972816!2d-58.41734106310998!3d-34.58461401679001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5e06a3ede69%3A0x316b23131d573f98!2sTienda%20Natura%20Cosm%C3%A9ticos!5e0!3m2!1ses-419!2sar!4v1718247264910!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
           
            <div class="card-contacto">
                <div class="contacto-imagen">
                    <img src="../public/img/whatsapp.svg" alt="whatsapp" class="contacto-imagen__content">
                    <p>(223) 5553322</p>
                    <img src="../public/img/twitter.svg" alt="twitter">
                    <p>rita_cosmeticos</p>
                </div>
                
                
                <div class="contacto-imagen">
                    <img src="../public/img/instagram.svg" alt="instagram">
                    <p>rita_cosmeticos</p>
                    <img src="../public/img/mail.svg" alt="mail" class="contacto-imagen__content">
                    <p>rita@tiendanatural.com</p>
                </div>
                
                
            </div>
        </section>
        </div>
          </div>
        
        
      
</main>
<footer>
  <div class="section-links">
    <div class="card-info">
      <h3>Informacion</h3>
      <a href="./nosotros.html" class="link-footer">Nosotros</a>
    </div>
    <div class="card-ayuda">
      <h3>Ayuda</h3>
      <a href="./contacto.html" class="link-footer">Contacto</a>
    </div>
    <div class="card-redes">
      <h3>Redes</h3>

      <ul class="icons-redes">
        <li class="list-redes">
          <a
            href="https://www.instagram.com/lipa.cosmeticanatural?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
            class="link-redes"
          >
            <img
              src="../public/img/instagram.svg"
              alt="instagram"
              class="icon"
            />
          </a>
        </li>
        <li class="list-redes">
          <a href="https://x.com/NaturaArgentina">
            <img src="../public/img/twitter.svg" alt="twitter" class="icon" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="section-derechos">
    <a href="../index.html">
      <img src="../public/img/rita.svg" alt="logo" class="search-bar__logo" />
    </a>
    <p>© Rita 2024 · Todos los derechos reservados</p>
  </div>
</footer>
      <script type="module" src="./main.js"></script>
    </body>
  </html>
  