<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Integrador - Inicio</title>
  </head>
  <body>
    <header class="main-header">
      <input type="checkbox" id="menu" />
      <nav class="nav-bar">
        <ul class="nav-bar__nav-list">
          <li class="nav-bar__nav-item">
            <a
              href="./index.html"
              class="nav-bar__nav-link nav-bar__nav-link-transition"
              >Inicio</a
            >
          </li>
          <li class="nav-bar__nav-item">
            <a
              href="alta.html"
              class="nav-bar__nav-link nav-bar__nav-link-transition"
              >Alta</a
            >
          </li>
          <li class="nav-bar__nav-item">
            <a
              href="nosotros.html"
              class="nav-bar__nav-link nav-bar__nav-link-transition"
              >Nosotros</a
            >
          </li>
          <li class="nav-bar__nav-item">
            <a
              href="contacto.html"
              class="nav-bar__nav-link nav-bar__nav-link-transition"
              >Contacto</a
            >
          </li>
        </ul>
      </nav>
      <!-- .nav-bar -->
      <div class="search-bar">
        <div class="search-bar__logo-container">
          <a href="/" class="search-bar__logo-link">
            <img src="/img/rita.svg" alt="logo" class="search-bar__logo" />
          </a>
        </div>
        <form action="#" class="search-bar__form-container">
          <label for="busqueda" class="search-bar__form-label">Buscar</label>
          <input type="search" class="search-bar__form-search" id="busqueda" />
          <input type="submit" class="search-bar__form-submit" value="" />
        </form>
        <div class="search-bar__carrito-container">
          <img
            src="./public/img/minicart.svg"
            alt="minicart"
            class="search-bar__carrito-image"
          />
        </div>
        <div class="menu-toogle">
          <label for="menu" class="menu-toogle__label">
            <span class="menu-toogle__top-bread"></span>
            <span class="menu-toogle__meat"></span>
            <span class="menu-toogle__bottom-bread"></span>
          </label>
        </div>
      </div>
      <!-- .search-bar -->
    </header>

    <main class="nosotros-main">
      <div class="section-nosotros">
        <div class="section-nosotros_info">
          <h1 class="subrayado">Nosotros</h1>
          <p>
            Tras un 2020 muy movilizante y lleno de cambios para todos, sentimos
            el impulso, cada vez con más fuerza, de ir en busca de nuestros
            sueños, dando forma a la pasión que nos unía y dejando el mundo
            corporativo. Estudiamos mucho y nos seguimos formando con los
            mejores profesionales de la cosmética natural, formulando nuestras
            propias recetas, y cuidando cada detalle al máximo para que tu
            experiencia sea única.
          </p>
          <p>
            Disfrutamos de cada paso en la creación de nuestros productos,
            cuidando la calidad de las materias primas y aprovechando las
            propiedades naturales que nos brinda cada aceite esencial.
          </p>
          <p>
            Nuestro proceso de elaboración es totalmente artesanal y consciente.
            No usamos parabenos ni sulfatos, y todos nuestros productos son apto
            veganos ya que no utilizamos materias primas de origen animal.
          </p>
        </div>

        <div class="section-nosotros-cards">
          <div class="section-nosotros-cards__mision-vision-valores">
            <div class="icon-cards">
              <img
                src="img/grafico.svg"
                alt="grafico"
                class="icon-cards__imagen"
              />
            </div>
            <h2>Mision</h2>
            <p class="font-size-15">
              Ofrecer asesoramiento y productos de cosmética natural basados en
              la aromaterapia, con una excelente relación calidad-precio.
              Queremos acompañarte en el viaje hacia una piel radiante y
              saludable, y lo hacemos de manera honesta, humilde y con un
              profundo cuidado por ti y el planeta en el que vivimos.
            </p>
          </div>
          <div class="section-nosotros-cards__mision-vision-valores">
            <div class="icon-cards">
              <img src="img/eye.svg" alt="ojo" class="icon-cards__imagen" />
            </div>

            <h2>Vision</h2>
            <p class="font-size-15">
              Convertirnos en referentes de la cosmética basada en plantas a
              nivel nacional. Queremos ser la opción número uno para aquellos
              que buscan productos de alta calidad que respeten la naturaleza y
              la piel.
            </p>
          </div>
          <div class="section-nosotros-cards__mision-vision-valores">
            <div class="icon-cards">
              <img
                src="img/handshake.svg"
                alt="manos"
                class="icon-cards__imagen"
              />
            </div>

            <h2>Valores</h2>
            <p class="font-size-15">
              Empatía: conectamos contigo y comprendemos tus necesidades para
              ofrecer soluciones saludables que mejoren tu vida. Cuidado: nos
              preocupamos por la salud dérmica, también por las personas y el
              medio ambiente que hacen posible nuestra existencia. Honestidad y
              humildad
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="section-links">
        <div class="card-info">
          <h3>Informacion</h3>
          <a href="nosotros.html" class="link-footer">Nosotros</a>
        </div>
        <div class="card-ayuda">
          <h3>Ayuda</h3>
          <a href="contacto.html" class="link-footer">Contacto</a>
        </div>
        <div class="card-redes">
          <h3>Redes</h3>

          <ul class="icons-redes">
            <li class="list-redes">
              <a
                href="https://www.instagram.com/lipa.cosmeticanatural?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                class="link-redes"
              >
                <img
                  src="public/img/instagram.svg"
                  alt="instagram"
                  class="icon"
                />
              </a>
            </li>
            <li class="list-redes">
              <a href="https://x.com/NaturaArgentina">
                <img src="public/img/twitter.svg" alt="twitter" class="icon" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="section-derechos">
        <a href="index.html">
          <img src="/public/img/rita.svg" alt="logo" class="search-bar__logo" />
        </a>
        <p>© Rita 2024 · Todos los derechos reservados</p>
      </div>
    </footer>
    <script type="module" src="/main.js"></script>
  </body>
</html>
