.section-cards {
  background-color: white;
  padding: 1rem;

  &__header {
    margin-left: 4rem;
    color: #793167;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 76%;
  margin: auto;
}
